@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="post" action="/Home/ShowFields" enctype="multipart/form-data">
        <input type="file" name="pic" /> <br />
        <input type="text" name="fullName" /> <br />
        <input type="submit" value="Go" />
    </form>
</div>
