<div class="row">
  <div class="drawers">
    <mat-card>
      <mat-accordion [multi]="false">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tops
            </mat-panel-title>
          </mat-expansion-panel-header>
          <carousel>
            <slide *ngFor="let image of clothing">
              <a (click)="selectTop(image)"><img [src]="'data:image/jpg;base64,'+image.image"></a>
            </slide>
          </carousel>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Bottoms
            </mat-panel-title>
          </mat-expansion-panel-header>
        <carousel>
            <slide *ngFor="let image of clothing">
             <a (click)="selectBottom(image)"><img [src]="'data:image/jpg;base64,'+image.image"></a>
            </slide>
        </carousel>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Miscellaneous
            </mat-panel-title>
          </mat-expansion-panel-header>
          <carousel>
                <slide *ngFor="let image of clothing">
                 <a (click)="selectMisc(image)"><img [src]="'data:image/jpg;base64,'+image.image"></a>
                </slide>
            </carousel>
        </mat-expansion-panel>
      </mat-accordion>  
    </mat-card>  
  </div>
  <div class="outfit">

    <mat-card class="outfitCard">
        <mat-card-title>
            <strong>Outfit</strong>
        </mat-card-title>
        <form [formGroup]="userInput" class="my-form">
            <mat-form-field class="full-width">
                <mat-label for="outfitName">Outfit Name</mat-label>
                <input matInput required type="text" formControlName="outfitName" class="form-control" />
            </mat-form-field>
        </form>
    </mat-card>

    <p><img *ngIf = "getTop()" [src]="'data:image/jpg;base64,'+getTop()"></p>
    <p><img *ngIf = "getBottom()" [src]="'data:image/jpg;base64,'+getBottom()"></p>
    <p><img *ngIf = "getMisc()" [src]="'data:image/jpg;base64,'+getMisc()"></p>
  </div>
</div>

<div class="submit">
  <button mat-fab aria-label color="warn" (click)="discard()"><fa-icon [icon]="faTimes" size="2x"></fa-icon></button>
  <button mat-fab aria-label (click)="save()"><fa-icon [icon]="faCheck" size="2x"></fa-icon></button>
</div>