<div class="row">
  <div class="drawers">
    <mat-card>
      <mat-accordion [multi]="false">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tops
            </mat-panel-title>
          </mat-expansion-panel-header>
          <carousel>
            <slide *ngFor="let image of clothing">
              <a (click)="selectTop(image)"><img [src]="'data:image/jpg;base64,'+image.image"></a>
            </slide>
          </carousel>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Bottoms
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngIf="clothing">
            <p>{{clothing.length}}</p>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Miscellaneous
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
      </mat-accordion>  
    </mat-card>  
  </div>
  <div class="outfit">
    <h2>outfit</h2>
    <p><img [src]="'data:image/jpg;base64,'+getTop()"></p>
    <p><img [src]="'data:image/jpg;base64,'+getBottom()"></p>
  </div>
</div>

<div class="submit">
  <button mat-fab aria-label color="warn" (click)="discard()"><fa-icon [icon]="faTimes" size="2x"></fa-icon></button>
  <button mat-fab aria-label (click)="save()"><fa-icon [icon]="faCheck" size="2x"></fa-icon></button>
</div>