<mat-toolbar color="accent">
    <mat-toolbar-row>
        <a mat-button routerLink="/home">MyVirtualCloset</a>

        <span class="spacer"></span>
        
        <div class="login">
            <div *ngIf="!currentUser()">
                <button mat-button routerLink="/login" routerLinkActive="active">Sign in <fa-icon [icon]="faSignIn"></fa-icon></button>
            </div>
            <div *ngIf="currentUser()">
                <button mat-button routerLink="/build">Add <fa-icon [icon]="faPlusCircle"></fa-icon></button>
                <!-- will go to profile eventually -->
                <button mat-button (click)="openSendNotificationModal()">Send Notification</button>
                <button mat-button routerLink="/profile">{{ currentUser().firstName }}</button>
                <button mat-button (click)="signOut()">Sign out <fa-icon [icon]="faSignOut"></fa-icon></button>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>

<div id="modal-container" class="hidden"></div>
