<div class="container">
  
    <div class="row">
      <div class="col-md-3 mx-auto my-5" *ngFor="let card of cards">
        <mat-card>
            <mat-card-title class="title-text">
                <h4>{{ getUsername() }} {{card.title}}</h4>
            </mat-card-title>

            <p *ngIf="card.top"><img [src]="'data:image/jpg;base64,'+card.top" class="images"></p>
            <p *ngIf="card.bottom"><img [src]="'data:image/jpg;base64,'+card.bottom" class="images"></p>
            <p *ngIf="card.misc"><img [src]="'data:image/jpg;base64,'+card.misc" class="images"></p>

            <mat-card-content class="desc">
                {{card.description}}
            </mat-card-content>

            <!-- <button mat-button color="primary">{{card.buttonText}}</button> -->
        </mat-card>
      </div>
    </div>
  </div>