<p>you shouldn't see this unless you log in</p>

<h3>Basic Buttons</h3>
<div class="example-button-row" (click)="displayImages()">
  <button mat-button>See Images</button>
  <img *ngIf="encodedImages" [src]="encodedImages">
</div>

<div class="example-button-row" (click)="initBuildOutfitModal()">
  <button mat-button>Modal</button>
</div>

<!-- <div class="example-button-row" (click)="goToUploadComponent()">
  <button mat-button>Add Clothing</button>
</div> -->

<!-- use the following code if add clothing component is a modal -->
<div class="example-button-row" (click)="initAddClothingModal()">
  <button mat-button>Add Clothing</button>
</div>

 