<mat-toolbar color="accent">
    <mat-toolbar-row>
        <a mat-button routerLink="/">MyVirtualCloset</a>

        <span class="spacer"></span>
        
        <a mat-button routerLink="/login">Login</a>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card>    
    <mat-card-title>    
        <strong>Signup</strong>   
    </mat-card-title>    
    
    <mat-card-content>    
        <form class="form" [formGroup]="signupForm">    
            <table class="form-table">    
                <tr>    
                    <td>    
                        <mat-form-field class="full-width">    
                            <input matInput formControlName="firstName" placeholder="First Name" required>    
                        </mat-form-field>    
                    </td>    
                    <td>    
                        <mat-form-field class="full-width">    
                            <input matInput formControlName="lastName" placeholder="Last Name" required>    
                        </mat-form-field>    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2">    
                        <mat-form-field class="full-width">    
                            <input matInput type="email" formControlName="email" placeholder="Email" required> 
                        </mat-form-field>    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2">    
                        <mat-form-field class="full-width">    
                            <input matInput formControlName="username" placeholder="Username" required>    
                        </mat-form-field>  
                    </td>    
                </tr> 
                <tr>    
                    <td colspan="2">    
                        <mat-form-field class="full-width">    
                            <input type="password" matInput formControlName="password" placeholder="Password" required>    
                        </mat-form-field>  
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2" class="content-center">    
                        <button mat-raised-button color="accent" (click)="onSubmit()" [disabled]="signupForm.invalid">Submit</button>    
                    </td>    
                </tr>    
            </table>    
        </form>    
    </mat-card-content>    
</mat-card> 