<mat-toolbar color="accent">
    <mat-toolbar-row>
      <a mat-button routerLink="/">MyVirtualCloset</a>
      <span class="spacer"></span>
      <a  mat-button  routerLink="/signup">Sign Up</a>
      <a  mat-button  routerLink="/login">Login</a>
    </mat-toolbar-row>
 </mat-toolbar>

 <mat-card>
    <mat-card-title>
       <strong>MyVirtualCloset</strong>
    </mat-card-title>

    <mat-card-content>
       <span>Welcome to MyVirtualCloset, the outfit generator of your dreams!</span>
    </mat-card-content>
 </mat-card>